@import '~antd/dist/antd.less';

.AuthPage {
  background-image: url(https://source.unsplash.com/random/?iphone);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-100 {
  height: 100vh !important;
}

.w-100 {
  width: 100% !important;
}

.d-flex-center {
  display: flex;
  justify-content: center;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
}

.m-x {
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
}

.ant-typography {
  color: #494949;
}

.logo {
  height: 32px;
  margin: 16px;
}

.spinner {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.ant-table-row {
  height: 50px
}

.content {
  background: white;
  padding: 20px;
  min-height: 84.8vh;

  .title {
    font-weight: inherit;
    color: #484848;
  }

  .service_title {
    margin-left: 5px;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid #d8e8d8;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
  }
}

.card_ {
  background: #002d49;
  color: white;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  transition: .5s;

  .card_content {
    margin: 5px;
    font-size: 25px;
  }

  .card_color {
    padding: 2px;
    border-radius: 10px;
  }

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px #383838;
  }
}

.email {
  cursor: pointer;
  color: #039b62;
}

.brand_card {
  width: 90%;
  margin: 10px auto;
  background-color: #002d49;
  padding: 14px;
  border-radius: 4px;
  box-shadow: 0 5px 10px #383838;
}

.report_card {
  margin-top: 10px;
  background-color: #002d49;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #5e5e5e;
}

.add_content_container {
  padding: 15px;
  border-radius: 5px;
  background-color: #002e4d;
}

.mx {
  margin-top: 10px;
  margin-bottom: 10px;
}